.appointment-alluserfeedback{
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 1100px;
    margin: 100px 100px;
    border: 2px solid black;
}

.appointment-alluserfeedback-details {
    display: grid;
    grid-template-columns: 1fr;
    /* One column for Service Name */
    grid-gap: 0px;
    /* Space between appointment-alluserfeedback-names-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns for Vet Name and Koi Name */
    grid-gap: 15px;
    /* Space between the two fields */
}

.MuiTextField-root {
    margin-bottom: 0;
    /* Remove bottom margin for fields within grid */
}


.appointment-alluserfeedback h1,
.appointment-alluserfeedback h2 {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    color: #344055;
    margin-bottom: 20px;
}

.MuiTextField-root {
    margin-bottom: 15px;
    /* Space between each TextField */
}

.MuiButton-root {
    display: block;
    margin: 0 auto;
    /* Center the submit button */
}

.MuiTypography-h6 {
    margin-top: 20px;
    /* Space above the rating section */
    margin-bottom: 10px;
    /* Space below the rating section */
}

.alluserfeedback-card{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 1100px;
    margin: 40px auto;
    border: 0.5px solid black;
}

.alluserfeedback-names-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    color: black;
}
