.pi-container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

.pi-container-1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 60px 0 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.user-info p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.user-info span {
  font-weight: bold;
  color: #555;
}

@media (max-width: 768px) {
  .pi-container-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .pi-container-1 img {
    margin: 0 0 20px 0;
  }

  .user-info p {
    font-size: 16px;
  }
}

.koi_management_chart_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #344055;
  margin-bottom: 20px;
}

.Koi-Management-Chart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(13, 59, 102, 0.8);
  background-image: url("../../../../assets/lotusfiled.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.KoiName {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  transition: transform 0.3s ease;
  text-align: center;
  position: relative;
  z-index: 1;
}

.KoiName:hover {
  transform: scale(1.05);
}

.KoiName p {
  font-family: "EB Garamond", serif;
  color: #7d7d7d;
  margin: 2px;
}

.koi_image {
  width: 250px;
  height: 130px;
  border-radius: 4px;
}

.koi_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

.koi_details p {
  margin: 5px 0;
  text-align: left;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-weight: 600; */
}

.koi_card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s ease;
}

.koi_card:hover {
  background-color: #ffffff;
}

.koi_info {
  transition: filter 0.3s ease;
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.koi_card:hover .koi_info {
  filter: blur(4.5px);
}

.icon_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.koi_card:hover .icon_container {
  opacity: 1;
}

.edit_icon,
.delete_icon {
  display: flex;
  width: 24px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
  .koi_card {
    flex-direction: column;
    align-items: flex-start;
  }

  .koi_image {
    width: 100%;
  }
}

.pi-giant-card {
  margin: 95px 100px 50px 100px;
}

.pe-koi-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.pi-add-button {
  width: 180px;
  display: flex;
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  margin-left: auto;
}

.pi-add-button:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.pi-add-button:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.pi-add-button:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.pi-add-button:active {
  transform: scale(0.9);
}
