/* General form container styling */
.createPackage {
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 40px;
  max-width: 500px;
  margin: 100px auto 10px auto;
  max-height: 550px;
}

.createPackage h1, 
.createPackage h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #344055;
  margin-bottom: 20px;
}

.createPackage p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: #7d7d7d;
}

/* Text field container */
.createPackage .MuiTextField-root {
  margin-bottom: 5px;
}

/* Styling input labels */
.MuiInputLabel-outlined {
  font-family: 'EB Garamond', serif;
  color: #344055 !important;
}

/* Text field input area */
.MuiOutlinedInput-root {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Error validation message */
.login__validation__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Form buttons (Back and Submit) */
.createPackage .btn {
  background-color: #70d8bd;
  color: white;
  /* font-family: 'Bebas Neue', cursive; */
  padding: 10px 20px;
  border-radius: 5px;
  /* text-transform: uppercase; */
  transition: background-color 0.3s ease;
}

.createPackage .btn:hover {
  background-color: #5bb49d;
}

.createPackage .back-btn {
  background-color: #ddd;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
}

.createPackage .back-btn:hover {
  background-color: #ccc;
}

/* Loading modal styling */
.createPackage .LoadingModal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

/* Align buttons in a row */
.createPackage .button-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .createPackage {
    padding: 20px;
  }

  .createPackage .button-container {
    flex-direction: column;
  }
}
