.update_koi_fish {
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px 40px;
  max-width: 500px;
  margin: 100px auto 10px auto;
  border: 2px solid black;
}

.update_koi_fish h1,
.update_koi_fish h2 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: #344055;
  margin-bottom: 20px;
}

/* Text field container */
.update_koi_fish .MuiTextField-root {
  margin-bottom: 15px;
}

/* Styling input labels */
.MuiInputLabel-outlined {
  font-family: "EB Garamond", serif;
  color: #344055 !important;
}

/* Text field input area */
.MuiOutlinedInput-root {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Validation error messages */

.text-field-container {
  margin-bottom: 15px; /* Adds some space below each text field */
  position: relative;
}

.login__validation__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  position: absolute;
  bottom: -20px; /* Position it directly under the text field */
  left: 0;
  right: 0;
  text-align: left;
}

/* Form buttons (Back and Update) */
.update_koi_fish .login__btn {
  background-color: #70d8bd;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.update_koi_fish .login__btn:hover {
  background-color: #5bb49d;
}

.update_koi_fish .back-btn {
  background-color: #ddd;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive;
}

.update_koi_fish .back-btn:hover {
  background-color: #ccc;
}

/* Loading modal styling */
.update_koi_fish .LoadingModal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

/* Align buttons in a row */
.update_koi_fish .button-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .update_koi_fish {
    padding: 20px;
  }

  .update_koi_fish .button-container {
    flex-direction: column;
  }
}

/* Flex display for form layout */
.update_koi_fish .form-container {
  display: flex;
  flex-direction: column;
}

.update_koi_fish .text-field-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Space between fields */
}

.upda .text-field-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Space between fields */
}
