.news-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
    margin-top: 70px;
    
  }
  
  .news-box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: rgba(173, 216, 230, 0.2); /* Nền xanh trong suốt */
    backdrop-filter: blur(10px); /* Hiệu ứng kính */
    border-radius: 12px; /* Tạo góc bo tròn */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .news-box:hover {
    transform: translateY(-5px); /* Hiệu ứng khi hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Tăng hiệu ứng đổ bóng khi hover */
  }
  
  
  .news-box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .news-box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .news-title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .news-box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .news-user-follow-info {
    color: hsl(0, 0%, 60%);
    margin-top: 1px;
  }
  
  .news-description {
    white-space: wrap;
  }
  
  .news-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px dashed #20d5c6; /* Đường viền đứt nét */
    border-radius: 15px; /* Góc bo tròn */
    background-color: #20d5c6; /* Màu nền */
    color: white;
    text-align: center;
    text-decoration: none; /* Bỏ gạch chân */
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển màu */
  }
  
  .news-button:hover {
    background-color: white; /* Màu nền khi hover */
    color: #20d5c6; /* Đổi màu chữ khi hover */
    border: 2px dashed #20d5c6; /* Giữ đường viền đứt nét khi hover */
  }
  
  
  /* RESPONSIVE QUERIES */
  @media (min-width: 640px) {
    .news-box {
      flex-basis: calc(50% - 12px);
    }
  }
  
  @media (min-width: 1024px) {
    .news-box {
      flex-basis: calc(33.3% - 16px);
    }
  }
  
  @media (min-width: 1100px) {
    .news-box {
      flex-basis: calc(25% - 18px);
    }
  }
  